# -----------------------
# Python
# -----------------------
backend/venv/
__pycache__/
*.pyc
.env

# -----------------------
# Node / Frontend
# -----------------------
frontend/node_modules/      # npm packages
frontend/dist/              # build output
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -----------------------
# Expo / React Native
# -----------------------
.expo/                      # Expo local cache
.expo-shared/               # local metadata
*.tsbuildinfo               # TypeScript incremental cache

# -----------------------
# OS / Editor
# -----------------------
.DS_Store                   # macOS file system junk
.vscode/                     # VSCode settings

# -----------------------
# Environment
# -----------------------
.env                        # secret keys
